<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" charset="utf-8" content="text/html" >
	<title>js</title>
	<link rel="stylesheet" type="text/css" href="../public/css/layout.css">
</head>
<body>
	<div id='container'>
		<div id='header'>

		</div>
		<div class='v_spac'>
		</div>

		<div id='context'>
			<div class="box">
				<div class="link mission-link">
				  <span class="icon animated"></span>
				  <a href="#" class="tooltip nav-button button tooltipstered" data-page-title="My mission is clear" data-target="mission">
					<span class="line line-top"></span>
					<span class="line line-right"></span>
					<span class="line line-bottom"></span>
					<span class="line line-left"></span>
					Mission
				  </a>
				</div>
				
				<div class="link play-link">
				  <span class="icon animated"></span>
				  <a href="#" class="tooltip nav-button button tooltipstered" data-page-title="My mission is clear" data-target="mission">
					<span class="line line-top"></span>
					<span class="line line-right"></span>
					<span class="line line-bottom"></span>
					<span class="line line-left"></span>
					Play
				  </a>
				</div>
				
				<div class="link touch-link">
				  <span class="icon animated"></span>
				  <a href="#" class="tooltip nav-button button tooltipstered" data-page-title="My mission is clear" data-target="mission">
					<span class="line line-top"></span>
					<span class="line line-right"></span>
					<span class="line line-bottom"></span>
					<span class="line line-left"></span>
					Touch
				  </a>
				</div>
			</div>
			
			<div class="box-btn">
				<a href="B" class="a-btn" >立即下载</a>
			</div>
		</div>
		<div class='v_spac'>
		</div>
		<div id='footer'>
		</div>
	</div>

</body>
</html>


